[class^="icon-"] {
  outline: none;
  text-decoration: none;
}
.icon-primary {
  color: #0088cc;
}
.icon-primary:hover {
  color: #0044cc;
}
.icon-warning {
  color: #fbb450;
}
.icon-warning:hover {
  color: #f89406;
}
.icon-danger {
  color: #ee5f5b;
}
.icon-danger:hover {
  color: #bd362f;
}
.icon-success {
  color: #62c462;
}
.icon-success:hover {
  color: #51a351;
}
.icon-info {
  color: #5bc0de;
}
.icon-info:hover {
  color: #2f96b4;
}
.icon-inverse {
  color: #444444;
}
.icon-inverse:hover {
  color: #222222;
}
.marketing [class^="icon-"] {
  text-shadow: 1px 1px 1px #333;
}
.jumbotron.reduced {
  padding: 10px 0;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
}
.jumbotron.reduced p,
.jumbotron.reduced .masthead-links {
  display: none;
}
.jumbotron.reduced h1 {
  margin: 0;
  font-size: 20px;
  line-height: normal;
}
